h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto', sans-serif;
}
.section{
	padding-top: 7%;
	padding-bottom: 5%;
}
.sub-text{
	font-family: 'Lora', serif;
	font-style: italic;
}
.fun-text{
	font-size: 21px;
	letter-spacing: 1px;
}
h1{
	font-size: 45px;
}
h2{
    font-size: 32px;
}
h3{
	font-size: 21px;
}
.head{
	min-height: 100vh;
	background-image: url(../img/1.jpg);
	background-size: 100% 100%;
	z-index: -1;
}
.head-blur{
	min-height: 100vh;
	background-size: 100% 100%;
	z-index: 2;
	background-color: rgba(0,0,0,0.4);
	margin: 0px;
}
.menu-bar{
	padding-top: 3%;
	z-index: 1;
}
.menu{
	padding-top: 1%;
	text-align: right;
}
.menu:hover{
	opacity: .5;
}
.head-items{
	color: white;
	padding-top: 20vh;
	padding-bottom: 20vh;
}
.in-line{
	list-style-type: none;
	padding-left: 0px;
	padding-top: 8%;
}
.in-line li{
	display: inline-block;
	margin-right: 15px;
}
.btn-style{
	background: transparent;
	color: white;
	border-radius: 30px;
}
.btn-text p{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}
.btn-para-1{
	font-size: 15px;
	text-align: left;
}
.btn-para-2{
	font-size: 24px;
	line-height: 15px;
}
.btn-text{
	padding-left: 0px;
	padding-right: 30px;
}
.btn-style:hover{
	color: white;
	background-color: #e1666a;
	border:none;
}
.head-mobile{
	min-height: 80vh;
	max-width: 60vh;
	background-image: url(../img/mobile.png);
    position: relative;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-top: 25vh;
    padding-bottom: 20vh;
    background-size: 100% 100%;
    text-align: center;
    align-content: center;
    color: white;
    margin-top: 2%;
}
.head-mobile img{
	margin-left: auto;
	margin-right: auto;
}
.head-mobile h4{
	margin-top: 10px;
    margin-bottom: 15%;
}
.login-btn{
	border-radius: 30px;
	padding: 3% 18%;
}
.signup-btn{
	margin-top: 10px;
	border-radius: 30px;
	padding: 3% 16%;
}
.head-mobile ul{
	padding: 0px;
	list-style-type: none;
}
.icon{
	color: #e1666a;
	border:1px solid #e1666a;
	padding: 25px 27px;
	border-radius: 100%;
}
.icon:hover{
	color: white;
	background-color: #e1666a;
}
.icon-mobile{
	padding: 25px 35px;
}
.block a{
	text-decoration: none;
	color: black;
}
.block a:hover{
	color: #e1666a;
}
.block p{
	font-size: 14px;
}
.explore-mindcraft{
	background-color: #fafafa;
	border-bottom: 1px solid #dbdbdb;
}
.section {
	color:#666666;
}
.block h3{
	color:#666666;
}
.explore h2{
	margin-top: 14%;
	margin-bottom: 3%;
}
.explore p{
	font-size: 15px;
}
.explore-btn{
	color:#666666; 
}
.mindcraft-action{
	text-align: center;
}
.mindcraft-action h2{
	margin: 0px;
}
iframe {
	width: 700px;
	height: 470px;
	border:none;
	padding-top: 2%;
	padding-bottom: 1%;
}
.social ul{
    padding-left: 0px;
}
.social li{
    list-style-type: none;
    display: inline-block;
    border:1px solid black;
    margin-right: 20px;
}
.social a{
    padding: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
}

.social a:hover{
    color: #ffffff;
    background-color: #e1666a;
    transition: .5s;
}
.social li:hover{
	border:1px solid #e1666a;
	transform: .5s;
}
.social{
	padding-top: 20px;
}
.testimonial{
	background-image: url(../img/5.jpg);
	background-size: 100% 100%;
	z-index: -1;
	color: white;
	text-align: center;
}
.crsl-view{
	color: black;
	background-color: white;
	padding: 2% 5%;
	margin:1% 25%;
	border-radius: 5px;
}
.owl-buttons .owl-next{ /* right arrow */
    float: right;

    background: red;
} 
.owl-prev{
	background-color: red;
}